{% extends 'base.html.twig' %}

{% block body %}

    {% include 'admin/index.html.twig' %}

    <h1>Piece index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Score</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for piece in pieces %}
            <tr>
                <td>{{ piece.id }}</td>
                <td>{{ piece.name }}</td>
                <td>{{ piece.score }}</td>
                <td>
                    <a href="{{ path('piece_show', {'id': piece.id}) }}">show</a>
                    <a href="{{ path('piece_edit', {'id': piece.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('piece_new') }}">Create new</a>
{% endblock %}
