{% extends 'base.html.twig' %}

{% block body %}
    <h1>Piece</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ piece.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ piece.name }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ piece.score }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('piece_index') }}">back to list</a>

    <a href="{{ path('piece_edit', {'id': piece.id}) }}">edit</a>

    {{ include('piece/_delete_form.html.twig') }}
{% endblock %}
