{% extends 'base.html.twig' %}

{% block body %}

    {% include 'admin/index.html.twig' %}

    <h1>Word index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lvl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for word in words %}
            <tr>
                <td>{{ word.id }}</td>
                <td>{{ word.name }}</td>
                <td>{{ word.lvl }}</td>
                <td>
                    <a href="{{ path('word_show', {'id': word.id}) }}">show</a>
                    <a href="{{ path('word_edit', {'id': word.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('word_new') }}">Create new</a>
{% endblock %}
