{% extends 'base.html.twig' %}

{% block body %}
    <h1>Word</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ word.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ word.name }}</td>
            </tr>
            <tr>
                <th>Lvl</th>
                <td>{{ word.lvl }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('word_index') }}">back to list</a>

    <a href="{{ path('word_edit', {'id': word.id}) }}">edit</a>

    {{ include('word/_delete_form.html.twig') }}
{% endblock %}
