{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ url('piece_index') }}"> Подслова </a>
        <a href="{{ url('word_index') }}"> Слова </a>
        <a href="{{ url('logout') }}"> Выйти </a>
    </div>
{% endblock %}
