{% extends 'base.html.twig' %}

{% block body %}
    {% include 'game/header.html.twig' %}

    <div id="score"> 0 </div>
    <div id="find"></div>

    <div>
        Исходное слово: {{ word.name }} <br>
        <input type="text" id="word">
        <button id="verify"> Проверить </button>
    </div>
    <form action="{{ url('saveGame') }}" method="post">
        <input name="userId" hidden value="{{ user.id }}">
        <input name="startTime" hidden value="{{ start_time }}">
        <input name="wordId" hidden value="{{ word.id }}" id="wordId">
        <input name="score" value="0" hidden id="hiddenScore">
        <input type="submit" value="Сохранить результат">
    </form>

    <script src="/assets/js/game.js"></script>
{% endblock %}
