{% block body %}
    <div>
        <a href="{{ url('game') }}"> Игра</a>
        <a href="{{ url('records') }}"> Рекорды </a>
        <a href="{{ url('logout') }}"> Выйти</a>
    </div>
    <div>
        Добро пожаловать, {{ user.login }} !!! <br>
        Запиши супер секретный код: {{ user.authKey [:4] }} - он тебе понадобится, чтобы войти под этим ником снова
    </div>
{% endblock %}
