{% extends 'base.html.twig' %}

{% block body %}
    {% include 'game/header.html.twig' %}
    <div>
        Выбери уровень сложности:
        <ul>
            {% for lvl in lvls %}
                <il>
                    <a href="/game/{{ lvl }}"> {{ lvl }}  уровень </a>
                </il>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
