{% extends 'base.html.twig' %}

{% block body %}
    {% include 'game/header.html.twig' %}
    <div>
        <table class="table">
        <thead>
        <tr>
            <th>Никнейм</th>
            <th>Очки</th>
            <th>Время</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.user }}</td>
                <td>{{ record.score }}</td>
                <td>{{ record.time }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Еще никто не установил рекордов, ты будешь первым!</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
