{% extends 'base.html.twig' %}

{% block body %}
    {% include 'game/header.html.twig' %}
    <div>
        {% if isRecords %}
        Выбери слово для вывода рекордов:
        {% else %}
        Выбери слово и да начнется игра!!!
        {% endif %}
        <ul>
            {% for word in words %}
                <il>
                    {% if isRecords %}
                    <a href="/game/records/{{ word.id }}">
                    {% else %}
                    <a href="/game/{{ lvl }}/{{ word.id }}">
                    {% endif %}
                        {{ word.name}} </a>
                </il>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
