{% extends 'base.html.twig' %}

{% block body %}
    <form method="post" action="{{ url('admin') }}">
        Логин: <input type="text" maxlength="25" name="login"> <br>
        Пароль: <input type="password" maxlength="40" name="password"> <br>
        {{ message }} <br>
        <input type="submit" value="Войти">
    </form>
{% endblock %}
