{% extends 'base.html.twig' %}

{% block body %}
    <div> В этой игре нужно составлять слова из букв исходного слова! </div>
    <form method="post" action="{{ url('user') }}">
        Введи свой никнейм и начни играть! <br>
        <input type="text" maxlength="25" name="login"> <br>
        {{ message }} <br>
        <input type="submit" value="Войти">
    </form>
{% endblock %}
