{% extends 'base.html.twig' %}

{% block body %}
    <form method="post" action="{{ url('user') }}">
        <input type="hidden" name="verify">
        <input type="hidden" name="login" value="{{ login }}">
        Введи свой никнейм и начни играть! <br>
        <input type="text" maxlength="25" name="login" value="{{ login }}" disabled> <br>
        Введи код, который тебя просили записать:<br>
        <input type="text" name="code"> <br>
        <input type="submit" value="Войти">
    </form>
    <i> Если забыл код - обратись к учителю </i>
{% endblock %}
